.sign-up-form {
  width: 384px;
  height: 599px;
  margin: 40px auto 0;
  padding: 48px 32px;
  border: 1px solid #d9d9d9;
  border-radius: 6px;
  box-shadow:
    0 1px 3px 0 rgba(0, 0, 0, 0.02),
    0 1px 7px 0 rgba(0, 0, 0, 0.03),
    0 3px 13px 0 rgba(0, 0, 0, 0.04),
    0 5px 24px 0 rgba(0, 0, 0, 0.04),
    0 9px 44px 0 rgba(0, 0, 0, 0.05),
    0 22px 106px 0 rgba(0, 0, 0, 0.07);
  background-color: #fff;
  &__header {
    margin: 0 0 25px;
    font-size: 20px;
    line-height: 1;
    text-align: center;
    color: #262626;
  }
  &__label {
    display: block;
  }
  &__label-text {
    display: block;
    font-size: 14px;
    line-height: 1.57;
    color: #262626;
  }
  &__input {
    width: 100%;
    height: 40px;
    padding: 7px 12px;
    border: 1px solid #bfbfbf;
    border-radius: 4px;
    font-size: 16px;
    line-height: 1.5;
    color: #262626;
    &::placeholder {
      font-size: 16px;
      line-height: 1.5;
      color: #bfbfbf;
    }
    &:focus {
      outline: none;
      border-color: #999;
      box-shadow: 2px 2px 4px 1px rgba(64, 64, 64, 0.4);
      background-color: #efefef;
      &::placeholder {
        color: #999;
      }
    }
    &--validation-error {
      border-color: #f5222d;
      &:focus {
        border-color: #f5222d;
      }
    }
  }
  &__checkbox {
    width: 16px;
    height: 16px;
    margin: 3px 8px 0 0;
    vertical-align: top;
    &:focus {
      outline: 1px solid #1890ff;
      outline-offset: 3px;
    }
  }
  &__checkbox-text {
    display: inline-block;
    width: calc(100% - 24px);
    font-size: 14px;
    line-height: 1.57;
    color: #595959;
    &--validation-error {
      color: #f5222d;
    }
  }
  &__text-sign-in {
    display: block;
    font-size: 12px;
    line-height: 1.67;
    text-align: center;
    color: #8c8c8c;
  }
  &__link-sign-in {
    color: #1890ff;
    text-decoration: none;
    &:focus,
    &:active {
      outline: 1px solid #1890ff;
      outline-offset: 3px;
    }
    &:hover {
      text-decoration: underline;
    }
  }
  &__validation-error-text {
    margin: 0;
    padding-top: 3px;
    min-height: 20px;
    font-size: 13px;
    line-height: 1.15;
    color: #f5222d;
  }
}
