.app-header {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  height: 80px;
  background-color: #fff;
  &__link-main {
    display: inline-block;
    margin: 0 auto 0 22px;
    color: #1890ff;
    text-decoration: none;
    &:visited {
      color: #1673c9;
    }
    &:focus {
      outline: 1px solid #1890ff;
      outline-offset: 5px;
    }
    &:hover {
      text-decoration: underline;
    }
    &:active {
      color: #52c41a;
    }
  }
  &__h1 {
    margin: 0;
    font-size: 18px;
  }
  &__link-sign-in,
  &__link-sign-up,
  &__link-new-article {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 109px;
    height: 51px;
    margin-right: 22px;
    border: 1px solid #52c41a;
    border-radius: 5px;
    font-size: 18px;
    color: #52c41a;
    text-decoration: none;
    background-color: inherit;
    cursor: pointer;
    &:focus,
    &:active {
      color: #1890ff;
      border-color: #1890ff;
      outline: none;
    }
    &:hover {
      text-decoration: underline;
    }
  }
  &__link-sign-in {
    color: rgba(0, 0, 0, 0.85);
    border: none;
    &:focus,
    &:active {
      border: 1px solid #1890ff;
    }
  }
  &__link-new-article {
    width: 112px;
    height: 31px;
    font-size: 14px;
  }
  &__link-profile {
    display: flex;
    align-items: center;
    gap: 12px;
    margin-right: 25px;
    text-decoration: none;
    &:focus,
    &:active {
      color: #1890ff;
      outline: 1px solid #1890ff;
      outline-offset: 5px;
    }
    &:hover {
      text-decoration: underline;
    }
  }
  &__username {
    font-size: 18px;
    color: rgba(0, 0, 0, 0.85);
  }
  &__avatar-wrapper {
    width: 46px;
    height: 46px;
    font-size: 11px;
    text-align: center;
  }
  &__avatar-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    border-radius: 50%;
  }
  &__btn-log-out {
    width: 109px;
    height: 51px;
    margin-right: 22px;
    border: 1px solid rgba(0, 0, 0, 0.75);
    border-radius: 5px;
    background-color: inherit;
    font-size: 18px;
    color: rgba(0, 0, 0, 0.75);
    cursor: pointer;
    &:focus,
    &:active {
      color: #f5222d;
      border-color: #f5222d;
      outline: none;
    }
    &:hover {
      color: #f5222d;
      border-color: #f5222d;
      text-decoration: underline;
    }
  }
}
