.articles-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
  min-height: calc(100vh - 120px);

  &--loading {
    border-radius: 3px;
    background-color: #fff;
    box-shadow: 0 4px 12px 0 rgba(0, 0, 0, 0.15);
  }
}

.comment-loader-wrapper {
  display: block;
  margin: 0 auto;
  padding-top: 15px;
}
