.button {
  width: 109px;
  height: 51px;
  margin-right: 22px;
  border: 1px solid rgba(0, 0, 0, 0.85);
  border-radius: 5px;
  font-size: 18px;
  color: rgba(0, 0, 0, 0.85);
  background-color: inherit;
  cursor: pointer;
  &:focus,
  &:active {
    color: #1890ff;
    border-color: #1890ff;
    outline: none;
  }
  &:hover {
    text-decoration: underline;
  }
  &--sign-in {
    border: none;
  }
  &--sign-up {
    color: #52c41a;
    border-color: #52c41a;
  }
}
