.button {
  height: 40px;
  background-color: #1890ff;
  border: 1px solid #1890ff;
  border-radius: 4px;
  font-size: 16px;
  color: #fff;

  &:focus,
  &:active {
    font-weight: bolder;
    border-color: #bddbf8;
    background: linear-gradient(
      90deg,
      rgba(189, 219, 248, 1) 10%,
      rgba(24, 144, 255, 1) 35%,
      rgba(24, 144, 255, 1) 65%,
      rgba(189, 219, 248, 1) 90%
    );
    outline: none;
  }
  &:active {
    background: linear-gradient(
      90deg,
      rgba(189, 219, 248, 1) 15%,
      rgba(110, 177, 239, 1) 40%,
      rgba(110, 177, 239, 1) 60%,
      rgba(189, 219, 248, 1) 85%
    );
  }
  &:hover {
    text-decoration: underline;
  }

  &--full-width {
    width: 100%;
    margin-bottom: 8px;
  }
}
