.app-header {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  height: 80px;
  background-color: #fff;
  &__h1 {
    display: inline-block;
    margin: 0 auto 0 22px;
    font-size: 18px;
  }
}
